.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}

.full-width-content {
  width: 100%;
  flex: 1;
}

.item-sidebar{
  padding: 16px;
  margin-bottom: 10px;
}
